# Poco F1 specific config options
CONFIG_LOCALVERSION="-xiaomi-sdm845"

# Display Related
CONFIG_DRM=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_MSM=y
CONFIG_DRM_PANEL_TIANMA_FHD_NT36672A=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_QCOM_WLED=m

# Touchscreen
CONFIG_TOUCHSCREEN_NT36XXX=m
CONFIG_QCOM_GPI_DMA=m

#Audio Related
CONFIG_SND_SOC_TAS2559=m

# pmOS related
CONFIG_USB_ETH=y
CONFIG_CMDLINE="PMOS_NO_OUTPUT_REDIRECT"
CONFIG_CMDLINE_FORCE=y
