# Oneplus 6 specific config options
CONFIG_LOCALVERSION="-sdm845-1"
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_DRM=y
CONFIG_DRM_MSM=y
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=y

CONFIG_USB_ETH=y

# Touchscreen
# For some reason rmi_core and rmi_i2c don't get
# modprobed automatically
CONFIG_HID_RMI=m
CONFIG_I2C_HID=y
CONFIG_RMI4_CORE=m
CONFIG_RMI4_I2C=m
CONFIG_RMI4_F55=y

# Battery stuff
CONFIG_BATTERY_BQ27XXX=y